<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmswe.alumni.service.association.mapper.LocalPlatformMemberMapper">

    <resultMap id="BaseResultMap" type="com.cmswe.alumni.common.entity.LocalPlatformMember">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="wxId" column="wx_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="isNu" column="is_nu" jdbcType="TINYINT"/>
        <result property="localPlatformId" column="local_platform_id" jdbcType="BIGINT"/>
        <result property="roleOrId" column="role_or_id" jdbcType="BIGINT"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="joinTime" column="join_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, wx_id, username, is_nu, local_platform_id, role_or_id, role_name, join_time, status, created_time, updated_time, is_deleted
    </sql>

</mapper>
