<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmswe.alumni.service.system.mapper.SysTagMapper">

    <resultMap id="BaseResultMap" type="com.cmswe.alumni.common.entity.SysTag">
        <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="bgColor" column="bg_color" jdbcType="VARCHAR"/>
        <result property="textColor" column="text_color" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="TINYINT"/>
        <result property="iconUrl" column="icon_url" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        tag_id, parent_id, code, name, bg_color, text_color, category, icon_url, sort_order, description,
        create_by, create_time, update_by, update_time, is_deleted
    </sql>

</mapper>
